@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient($softViolet, $softBlue);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    color: $veryDarkDesaturatedBlue;
    font-size: $fontSize;
  }

  code {
    font-family: 'Kumbh Sans', sans-serif;
  }
